@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  background: #f7f7f7;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}
html::-webkit-scrollbar {
  width: 0.8rem;
}
html::-webkit-scrollbar-track {
  background: rgb(235, 202, 245);
}
html::-webkit-scrollbar-thumb {
  background: #ff8801;
}


header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.7rem 10%;
  height: 6.5rem;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.3);
  
}
section {
  min-height: 100vh;
  padding: 2rem 9%;
}
.heading {
  font-size: 3.5rem;
  color: rgb(32, 32, 32);
  font-weight: 800;
  text-align: center;
}
.heading span {
  color: rgb(115, 3, 167);
}
header .logo {
  font-size: 1.9rem;
  font-weight: 800;
  text-decoration: none;
  color: #0e2431;
}
header .logo:hover {
  color: #fc8c05;
}
header .navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .navbar li {
  margin-left: 2.5rem;
}
header .navbar ul li a {
  font-size: 1.57rem;
  color: #0e2431;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 0.04rem;
  transition: 0.2s;
}
header .navbar ul li a:active{
  color:  #ff8801;
  border-bottom: 0.2rem solid  #ff8801;
}
header .navbar ul li a:hover {
  color: #ff8801;
}

#menu {
  font-size: 3rem;
  cursor: pointer;
  color: rgb(24, 2, 63);
  display: none;
}
@media (max-width: 768px) {
  #menu {
    display: block;
  }
  #menu:hover {
    color: #ff8801;
  }
  header .navbar {
    position: fixed;
    top: 6.5rem;
    right: -120%;
    width: 60%;
    height: 100%;
    text-align: left;
    align-items: flex-start;
    background-color: #0e0f31;
  }
  header .navbar.visible {
    right: 0%;
  }
  header .navbar ul {
    flex-flow: column;
    padding: 1rem;
  }
  header .navbar ul li {
    text-align: center;
    width: 100%;
    margin: 1rem 0;
    border-radius: 0.5rem;
    width: 26rem;
  }
  header .navbar ul li a {
    display: block;
    padding: 1rem;
    text-align: left;
    color: #fff;
    font-size: 2rem;
  }
  header .navbar ul li a:active,
  header .navbar ul li a:hover {
    color: #ff8801;
    border-bottom: 0.5rem solid  #ff8801;
  }
  .fa-times {
    transform: rotate(180deg);
  }
}
/* hamburger icon ends */

/* hero section starts*/
.home {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  min-height: 100vh;
  align-items: center;
}

.home .content {
  flex: 1 1 40rem;
  padding-top: 1rem;
  z-index: 1;
  margin-top: 5rem;
}
.home .image {
  flex: 1 1 40rem;
  z-index: 1;
  margin-top:5rem;
}
.home .image img {
  width: 70%;
  margin-left: 6rem;
  border-radius: 5px;
  cursor: pointer;
}
.home .image img:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.home .content h2 {
  font-size: 5rem;
  font-weight: 800;
  color: #002057;
}
.home .content h2 span {
  font-size: 5rem;
  font-weight: 800;
  color: #ff7b00;
}
.home .content p {
  font-size: 2.5rem;
  color: #000;
  font-weight: 600;
  padding: 1rem 0;
}
.home .content p span {
  font-size: 2.5rem;
  color: #ff7b00;
  font-weight: 600;
  padding: 1rem 0;
}



.home .upArrow {
  size:40px;
  color: #ff7b00;
  display: none;
}

.home .upArrow.visible{
  display: block;
}




.home .btn {
  margin-top: 1rem;
  position: absolute;
  line-height: 0;
  padding: 1.6rem 3rem;
  border-radius: 4em;
  transition: 0.5s;
  color: #fff;
  background: #ff7b00;
  box-shadow: 0px 5px 18px #ff7b00;
  font-family: "Nunito", sans-serif;
}
.home .btn span {
  font-weight: 700;
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
}
.home .btn i {
  margin-left: 0.3rem;
  font-size: 1.5rem;
  transition: 0.3s;
}
.home .btn:hover {
  background: #f1a864;
}
.home .btn:hover i {
  transform: translateX(5px);
}
/* social icons start */
.socials {
  position: relative;
  margin-top: 9rem;
}
.socials .social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.socials .social-icons li {
  display: inline-block;
  margin-bottom: 14px;
}
.social-icons a {
  font-size: 2rem;
  display: inline-block;
  line-height: 44px;
  color: #faf5f1;
  background-color: #2a2826;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #ff7b00;
}


@media (max-width: 450px) {
  .home .btn {
    margin: 4rem 0;
  }
  .socials {
    margin-top: 12rem;
  }
  .home .image img {
    margin-top: -12rem;
  }
  .home .content p {
    font-size: 2.2rem;
  }
  .home .content p span {
    font-size: 2.2rem;
  }
}



.about {
  background: rgb(255, 255, 255);
}
.about .row {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: wrap;
}
.about .row .image {
  text-align: center;
  flex: 1 1 35rem;
}
.about .row .image img {
  margin: 4rem;
  width: 30rem;
  height: auto;
  border-radius: 5%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
  mix-blend-mode: normal;
  transition: 0.3s;
  cursor: pointer;
}
.about .row .image img:hover {
  mix-blend-mode: luminosity;
}
.about .row .content {
  margin-top: 5rem;
  flex: 1 1 45rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 8rem;
  border-radius: 5px;
  background-color: rgb(243, 240, 240);
}
.about .row .content:hover{
  box-shadow: 0 5px 10px #ff7b00;
}
.about .row .content h3 {
  color: rgb(27, 27, 27);
  font-size: 2.5rem;
}
.about .row .content .tag {
  font-size: 1.4rem;
  color: #020133;
  font-weight: 600;
  margin-top: 1rem;
}
.about .row .content p {
  font-size: 1.7rem;
  margin-top: 1.5rem;
  font-family: "Nunito";
  font-weight: 600;
  text-transform: none;
  height: 110px;
  overflow-y: hidden;

}
.about .row .biocontent  {
  flex: 1 1 45rem;
  padding: 3rem;
  padding-top: 8rem;
  border-radius: 5px;
  background-color: rgb(243, 240, 240);

}
.about .row .biocontent p {
  font-size: 1.7rem;
  font-family: "Nunito";
  font-weight: 600;
  text-transform: none;
  height: 120px;
  overflow-y: hidden;
}
.about .row .EducationParagraph p {
  font-size: 1.7rem;
  font-family: "Nunito";
  font-weight: 600;
  text-transform: none;
  height: auto;
  overflow-y: hidden;
}
.about .row .EducationParagraph{
  flex: 1 1 45rem;
  padding: 3rem;
  padding-top: 4rem;
  border-radius: 5px;
  background-color: rgb(243, 240, 240);
}

.about .row .EducationParagraph:hover{
  box-shadow: 0 5px 10px #ff7b00;
}
.about .row .EducationParagraph p span{
  color: white;
  background-color: #ff7b00;
  border-radius: 3px;
  padding: 3px;
  cursor: pointer;
}
.about .row .biocontent p span{
  color: white;
  background-color: #ff7b00;
  border-radius: 3px;
  padding: 3px;
  cursor: pointer;
}
.about .row .biocontent:hover{
  box-shadow: 0 5px 10px #ff7b00;
}

.about .row .biocontent p.full{
  transition-duration: 0.5s;
  height: auto;
  }

.about .row .content .More{
  color: white;
  background-color: #ff7b00;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}


.about .row .content p.full{
transition-duration: 0.5s;
height: auto;
}
.about .row .content .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  font-family: "Nunito";
  font-weight: 600;
}
.about .row .content .box-container .box p {
  text-transform: none;
}
.about .row .content .box-container .box p span {
  color: #f1c811;
}

@media screen and (max-width: 600px) {
  .about .row .image {
    margin-top: 2rem;
  }
  .about .row .image img {
    margin: 0 auto;
    width: 80%;
    mix-blend-mode: normal;
  }
  .about .row {
    padding: 0.5rem;
    margin-bottom: 7rem;
  }
  .about .row .content {
    padding: 1rem;
  }
  .about .row .content .box-container {
    gap: 0;
  }
}

.form form {
  display: block;
  margin-bottom: 5px;
  font-family: "Nunito";
  font-size: 18px;
  max-width: box;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
}

.form h1{
  font-size: 20px;
  font-weight: bold;
  font-family: 'Nunito';
}
.form form label {
  font-family: "Nunito";
}
.form form input{
  display: block;
  margin-bottom: 5px;
  font-family: "Nunito";
  height: 40px;
  max-width: 500px;
  padding: 5px;
}
.form form textarea{
  display: block;
  padding: 5px;
  margin-bottom: 5px;
  font-family: "Nunito";
  max-width: 500px;
}
.form form .sendButton{
  width: 200px;
  background-color: #ff7b00;
  padding-top: 8px;
  padding-bottom:8px;
  border-radius: 3px;
  color: white;
  font-size: 16px;
  font-family: 'Nunito';
  cursor: pointer;
}
.footer {
  min-height: auto;
  background: rgb(0, 1, 43);
}
.footer .box-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.footer .box-container .box {
  flex: 1 1 25rem;
  margin: 2.5rem;
}
.footer .box-container .box h3 {
  font-size: 2.5rem;
  color: #fff;
  padding-bottom: 1rem;
  font-weight: normal;
}
.footer .box-container .box p {
  font-size: 1.5rem;
  color: #ccc;
  padding: 0.7rem 0;
  text-transform: none;
}
.footer .box-container .box p i {
  padding-right: 1rem;
  color: #ffae00;
}
.footer .box-container .box a {
  font-size: 1.5rem;
  color: rgb(238, 238, 238);
  padding: 0.3rem 0;
  display: block;
}
.footer .box-container .box a:hover {
  color: #ffae00;
}


.footer .fa {
  color: #e90606;
  margin: 0 0.3rem;
  font-size: 1.5rem;
  animation: pound 0.35s infinite alternate;
}

@media (max-width: 450px) {
  .footer .box-container .box {
    margin: 1.5rem;
  }
  .footer .box-container .box p {
    padding: 0.7rem;
  }
  .footer .box-container .box .share a {
    padding: 1.2rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
  body {
    padding-right: 0;
  }
  section {
    padding: 2rem;
  }
}


